EMAIL_HOST=smtp.zoho.in
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=careers@luxmorai.com
EMAIL_HOST_PASSWORD=nitesQiEfsVS
DEFAULT_FROM_EMAIL=careers@luxmorai.com
FRONTEND_SITE_URL=http://192.168.0.3:5173
